html body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 80%;
    font-family: sans-serif;
}

.header{
    height:12vh;
    background-color:darkred;
    color: ghostwhite;
}

a.header_menu{
    color: ghostwhite;
    text-decoration: underline;
}

.menu-grid-container {
	padding-bottom: 50px;
  	display: grid;
  	grid-template-columns: 50%;
  	grid-template-rows: auto auto auto auto;
  	gap: 0px 0px;
  	grid-template-areas: "Title" "item_1" "item_2" "item_3";
}

.menu-grid-container a{
	float: right;
	text-decoration: none;
}

.Title {
	grid-area: Title;
	padding: 8px;
	font-size: 15px;
	background-color: darkred;
	color:white;
}
.item_1 {
	grid-area: item_1;
	padding: 8px;
	font-size: 15px;
	background-color: gainsboro;
	color:black;
}
.item_2 {
	grid-area: item_2;
	padding: 8px;
	font-size: 15px;
	background-color: whitesmoke;
	color:black;
}
.item_3 {
	grid-area: item_3;
	padding: 8px;
	font-size: 15px;
	background-color: gainsboro;
	color:black;
}

.side_menu {
	padding-bottom: 30px !important;
	grid-template-columns: 100%;
	width: 100%;
}

.active {
	background-color: #F4F89F;
}

.main-grid-container {
 	display: grid;
  	grid-template-columns: 25% 75%;
  	grid-template-rows: auto;
  	gap: 0px 0px;
  	grid-template-areas:
    "Menu Content";
	padding-top: 100px;
}

.Menu {
	grid-area: Menu;
}

.Content {
	grid-area: Content;
	padding-left: 50px;
}

