input {
	padding: 8px;
	margin-right: 10px;
	border-radius: 5px;
	outline: none;
	border-color: white;
	border-style: solid;
	transition: border-color 0.5s;
}

input:hover{
	border-color: black;
}