.table {
	margin-top: 30px;
	width: 70%;
	float: left;
}
.filter_menu{
	margin-top: 30px;
	width: 25%;
	float: right;
}
input {
	padding: 8px;
	margin-right: 10px;
	border-radius: 5px;
	outline: none;
	border-color: white;
	border-style: solid;
	transition: border-color 0.5s;
}

input:hover{
	border-color: black;
}
select {
	padding: 8px;
	margin-right: 10px;
	border-radius: 5px;
	outline: none;
	background-color: whitesmoke;
	width: 40%;
	border-color: gainsboro;
	border-style: solid;
	transition: border-color 0.5s;
}
select:hover{
	border-color: black;
}
#adduser_btn{
	background-color: grey;
	color:white;
	width: 10%;
	float: right;
	margin-right: 25px !important;
	text-transform: uppercase;
	font-size: 12px;
	border-radius: 20px;
}
#search {
	padding: 8px;
	margin-right: 10px;
	border-radius: 5px;
	outline: none;
	background-color: white;
	width: 20%;
	border-width: 1px;
	border-color: gainsboro;
	border-style: solid;
	transition: border-color 0.5s;
}
#search:hover{
	border-color: black;
}
table#users{
	margin-top: 10px;
}
table#users , #users td, #users th {
	border-collapse: collapse;
	padding: 10px
}
table#users tr:nth-child(odd) {
	background-color: gainsboro;
}
.table-checkbox {
	width: 5%;	
}
.table-date {
	font-weight: bold;
}
.search{
	background-color: whitesmoke;
	padding: 12px;
	margin-bottom: 30px;
}
.search-btn{
	border-color: gainsboro;
}

#filter{
	width: 90%;
}
#filter p{
	margin: 0;
}
#filter td{
	padding: 8px;
}
#filter tr{
	background-color: gainsboro;
}
#filter tr:hover{
	background-color: gray;
}
table#filter , #filter td, #filter th {
	border-collapse: collapse;
}